.input-group-searchbar {
  max-width: 500px;
  margin: 0 auto;
}

.form-search-input {
  width: 100%;
}

.search-navbar {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(16, 16, 255);
  border: none;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 300rem;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgb(16, 16, 255), 0 0 20px rgb(16, 16, 255),
    0 0 40px rgb(16, 16, 255);
  cursor: pointer;
}

.cart-title {
  margin-top: 50px;
}

.cartList li {
  margin-top: 10px;
}
